.html{
  font-size: 100%;
}
.dictado{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows:1fr auto auto auto/ minmax(200px, 1200px);
  height: auto;
  width: 100%;
  align-self: center;
}

.dictado h1{
  text-align: center;
  font-weight: bold;
  color: crimson;
  font-size: 2.5rem;
}

.dictado__button{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template: repeat(1,auto)/ repeat(3,auto); 
  gap: 10px;
  height: auto;
  width: 100%;
  align-self: center;
}
.dictado__buttonPlay{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.05rem;
  color:white;/*#4B75B8*/
  font-weight: bold;
  text-align: center;
  background: green;
  border: green;
}
.dictado__buttonStop{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.05rem;
  color:white;/*#4B75B8*/
  font-weight: bold;
  text-align: center;
  background: red;
  border:red;
}

.dictado__buttonReset{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.05rem;
  color:white;/*#4B75B8*/
  font-weight: bold;
  text-align: center;
  background:#00B6FF;
  border:#00B6FF;
}
.text_Area{
    margin: 0 auto;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.60);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    position: relative;
    align-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    padding-inline-start: 50px;
    margin: 10px auto;
}
.text_Area textarea{
  width: 390px;
    height: auto;
}
.span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.05rem;
  color:blue

}


